.githubCard {
  /* height: 300px; */
  margin-top: 16px;
  border: none;
  box-shadow: 0 0 5px #eee;
}
.githubCard:hover {
  box-shadow: 0 0 5px #ddd;
}

.tagView {
  padding-top: 20px;
}

.tagLine {
  margin-bottom: 5px;
}
